body {
    margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
    background-image: url(image/bg-gtm-2020.png);
    background-repeat: no-repeat;
    background-position-x: right;
}

.container {
    padding: 83px;
    background-color: rgb(12, 11, 11);
    width: 30%;
    float: left;
}

.main {
    display: flex;
    flex: wrap;
    flex-direction: column;
    align-content: center;
    text-align: center;
   
}

.img> img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    margin-bottom: 80px;
}

.form form {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    
}

hr {
    margin-right: 10%;
    margin-left: 10%;
    
}

.username>label,
.pass>label {
    display: flex;
    color: white;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 60px;
}

.username>input,
.pass>input {
    align-items: center;
    color: white;
    border: none;
    border-radius: 2px;
    width: 76%;
    padding: 10px;
    
}

.btn button{
    background-color:rgb(75, 143, 221);
    color: white;
    border: none;
    border-radius: 2px;
    width: 80%;
    margin-top: 10px;
    padding: 10px;
}

.links>a{
    display: block;
    margin-top: 30px;
    padding: 10px;
    color: rgb(75, 143, 221);
    text-decoration: none;
}

button {
    background-color:gray;
    color: white;
    border: none;
    border-radius: 2px;
    width: 80%;
    margin-top: 10px;
    padding: 10px;
}

footer>p {
    color: white;
    font-size: 12px;
    margin-top: 10em;
}

.terms>a{
    color: white;
    font-size: 12px;
}

span{
    color:white;
}

span>svg {
    width: 5%;
    margin-left: -50px;
    margin-top: 90px;
}

.aside {
    width: 60%;
    float: right;
    margin-top: 15%;
    
}

h1 {
    font-size: 50px;
    color: white;
    margin-left: 40px;
}

.gradient {
    margin-top: -100px;
    
}

.but button {
    background: linear-gradient( rgb(235, 108, 4), rgb(245, 28, 64), rgb(235, 108, 4));
    width: 30%;
}

.build>img{
    float: right;
    margin-top: 300px;
    width: 100px;
}

@media only screen and (medium-width: 200px) {
    .main {
        /* display: block;
        margin-right: auto;
        margin-left: auto;
        text-align: center; */
        background-color: yellow;
    }
}